body {
    background: black;
    color: white;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-height: fit-content;
    align-items: center;
}

button {
    margin: 5vmin;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

img {
    width: 90%;
}

h3 {
    margin: 0;
    padding: 0 5vmin 5vmin;
    text-align: justify;
}
